Source: sfpanel-ioncube
Package: sfpanel-ioncube
Priority: optional
Version: 1.0.0-1
Section: admin
Maintainer: Serghey Rodin <skid@sfpanel.izetmolla.com>
Homepage: https://www.ioncube.com
Architecture: amd64
Depends: bash, awk, sed, sfpanel-php
Description: ionCube Loader for Sfpanel
