Source: sfpanel-php
Package: sfpanel-php
Priority: optional
Version: 1.0.0-1
Section: admin
Maintainer: Serghey Rodin <skid@sfpanel.izetmolla.com>
Homepage: http://sfpanel.izetmolla.com
Architecture: amd64
Depends: sfpanel
Description: Sfpanel php-fpm
 Sfpanel is an open source hosting control panel.
 Sfpanel has a clean and focused interface without the clutter.
 Sfpanel has the latest of very innovative technologies.

